ipynb-filters: [nbdev_filter]

project:
  type: website
  

  preview: 
    port: 5555
    browser: false
    watch-inputs: true
    navigate: true

  # render:
  #     - "*.qmd"
  #     - "*.md"
  #     - "!etc/"

  resources:
    - "files/**"


freeze: auto

bibliography: files/bib/references.bib
csl: files/bib/chicago-author-date.csl

# Metadata stuff



pagetitle: "{{< meta title >}} | Taminul Islam"
description-meta: "{{< meta description >}}"
author-meta: "Taminul Islam"

website:
  title: "**Taminul** Islam"
  description: "Taminul Islam is interested in computer vision and deep learning."
  favicon: "./site/files/favicon-512.png"
  site-url: "https://www.taminul.com"
  repo-url: "https://github.com/taminulislam/taminulislam.github.io"
  repo-actions: []
  # open-graph: true
  repo-branch: master
  sidebar: false
  search: true


  # twitter-card: 
  #   # image: "/files/profiles/twitter-card-large.png"
  #   card-style: summary_large_image
  #   creator: "@toqitahamid"
  #   site: "@toqitahamid"

  open-graph: 
    # image: "/files/profiles/twitter-card-large.png"
    locale: en_US
  

  navbar:
    # title: true
    # pinned: true
    # logo: "/files/favicon-512.png"

    right:
      - text: "Home"
        href: "index.qmd"
      - text: "CV"
        href: "cv/index.qmd"
      - text: "Resume"
        href: "resume/Resume_Taminul.pdf"
      # - text: "Blog"
      #   href: "blog/index.qmd"
      - text: "Research"
        file: research/index.qmd
      - text: "{{< ai google-scholar size=lg >}}"
        href: "https://scholar.google.com/citations?user=Kgo_S9sAAAAJ&hl=en&oi=ao"
      # - text: "{{< ai semantic-scholar size=lg >}}"
      #   href: "https://scholar.google.com/citations?user=i1SmuwYAAAAJ&hl=en"
      - icon: github
        href: "https://github.com/taminulislam/"
      - icon: twitter
        aria-label: twitter
        href: https://twitter.com/taminulislam
      - icon: linkedin
        aria-label: linkedin
        href: https://www.linkedin.com/in/taminul-islam


  page-footer:
      center: |
        <span class="faux-block">{{< fa brands creative-commons >}} {{< var years >}} Taminul Islam</span>

    


format:
  html:
    theme: html/tts.scss
    toc: false
    code-link: true
    anchor-sections: true
    fig-cap-location: margin
    reference-location: margin
    footnotes-hover: true
    highlight-style: monokai
    include-after-body:
      - text: |
          <script src="/html/theme-toggle.js"></script>